.item{
    width: 380px;
    border: none;
    padding: 10px;
}
.item p{
    margin: 6px 0px;
    padding: 10px ;
}
.item-prices{
    display: flex;
    gap: 20px;
    padding: 0px 10px;
}
.item-price-new{
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}
.item-price-old{
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}
.item:hover{
    border: 1px solid black;
    padding: 10px;
    transform: scale(1.06);
    transition: 0.6s;
}



